extends layout

block content

  h1= title
  p
    a.button(href='/books/new') Create New Book

  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each elem in books
        tr
          td
            a(href='/books/' + elem.id)= elem.title
          td= elem.author
          td= elem.genre
          td= elem.year 